html{
    /*background-image: url("pngtree-abstract-smoke-with-light-on-dark-background-image_3064081.jpg");*/
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0%;
    background-size: cover;
}